<div class="container">
  <div class="diary-btn-box">
    <% if user == current_user %>
      <button id="diary-open-btn" class="diary-btn btn">ダイアリー新規登録</button>
    <% end %>
  </div>

  <% if diary.errors.any? %>
    <div id="error_explanation">
      <h2><%= diary.errors.count %> 件のエラーが発生:</h2>

      <ul>
      <% diary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "diaries/new", diary: @diary %>

  <script> //入力欄が隠れており、ボタンを押すと出てくるコード(スライドトグル)
    $('#diary-new').hide();

    $('#diary-open-btn').click(function() {
        $('#diary-new').slideToggle();
    })
  </script>

  <div class="diary-show" id="diary_destroy_btn">
    <%= render "diaries/diary_destroy", user: user, diaries: diaries %>
  </div>
</div>