<table class="table">
  <tr>
    <th>ユーザー名</th>
    <th>所属団体</th>
    <th>活動エリア</th>
    <th></th>
  </tr>
  <% users.each do |user| %>
  <tr>
    <td><%=link_to user.name, user_path(user) %></td>
    <td><%= user.organization %></td>
    <td><%= user.prefecture %></td>
    <td><%= render "users/follow_btn", user: user %></td>
  </tr>
  <% end %>
</table>