<div class = "mypage">
  <div>
    <div>名前</div>
    <div>所属団体</div>
    <div>活動エリア</div>
    <div>自己紹介</div>
  </div>
  <div>
    <div><%=@user.name %></div>
    <div><%= @user.group %></div>
    <div><%= @user.prefecture %></div>
    <div><%= @user.introduction %></div>
  </div>
</div>