<div class="container center">

  <h2>スケジュール新規登録</h2>

  <%= render 'form', event: @event %>

  <%= link_to user_path(@user), class:"back-home" do %>
    <div><span class="glyphicon glyphicon-home" aria-hidden="true"></span> マイページに戻る</div>
  <% end %>
</div>