<div class="jumbotron">
  <div class="top-text">
    <div class="top-text-box"><h1>Baske Diary</h1></div>
    <div class="top-text-box">
      <p>
        このサイトでは<br>
        <span class="css-br">あなたのバスケットボールに</span>関する情報を管理し<br>
        <span class="css-br">スキルアップ向上を</span>お手伝いいたします
      </p>
    </div>
  </div>
</div>

<div class="site-introduction">
  <div class="introduction-text">
    <p class="box1">
      <span class="underline">
        <span class="css-br">試合や練習で学んだこと、</span>感じたことを記録できる<br>文字に起こすことで現状の課題が明確に！
      </span>
    </p>
    <p class="p-left60 box1">
      <span class="underline">
        <span class="css-br"><span class="css-br">練習しているスキルを</span>リスト化<br>どれくらい習得できたか</span>管理できる
      </span>
    </p>
    <p class="p-left120 box1">
      <span class="underline">
        <span class="css-br">カレンダーで試合や</span>練習日程の管理
      </span>
    </p>
  </div>
  <div class="swiper-container display_non">
     <!-- メイン表示部分 -->
     <div class="swiper-wrapper">
       <!-- 各スライド -->
       <div class="swiper-slide"><%= image_tag asset_path("スライド画像2.jpg"), :size => '820x360' %></div>
       <div class="swiper-slide"><%= image_tag asset_path("スライド画像1.jpg"), :size => '820x360' %></div>
       <div class="swiper-slide"><%= image_tag asset_path("スライド画像3.jpg"), :size => '820x360' %></div>
     </div>
     <!-- ナビケーション -->
     <div class="swiper-button-prev"></div>
     <div class="swiper-button-next"></div>
     <div class="swiper-pagination"></div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/js/swiper.min.js"></script>
<script>
    // var mySwiper = new Swiper('.swiper-container');
    var mySwiper = new Swiper ('.swiper-container', {
      loop: true,         //画像のループ
      effect: 'slide',    //切り替わるときのアニメーション
      speed: 3000,        //画像の切替スピード
      autoplay: {         //自動で動かす
        delay: 3000,
        disableOnInteraction: true
      },
      pagination: {        //ページネーション
        el: '.swiper-pagination',
        type: 'bullets',
        clickable: true
      },
      navigation: {        //ナビケーション
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
</script>