<div class="jumbotron">
  <div class="container">
    <h1>Baske Diary</h1>
    <p>このサイトでは<br>
       あなたのバスケットボールに関する情報を管理し<br>
       スキルアップ向上をお手伝いいたします</p>
  </div>
</div>

<div class="container">
  <h1>できること</h1>
  <p>試合や練習で学んだこと、感じたことを記録！</p>
  <p>習得しようとしている技をリスト化！</p>
  <p>カレンダーで試合や練習日程の管理！</p>
</div>