/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 100px;
  background-color: yellow;
  color: white;
}

.top-links{
  display: flex;
}

.tab{
  display: flex;
  width: 100%;
  background-color: red;
  position: relative;
  top: 52px;
}

// タブの位置把握のため仮に色付け　以下
.tab div:nth-child(1){
  background-color: #FF66FF;
}

.tab div:nth-child(2){
  background-color: #FF66CC;
}

.tab div:nth-child(3){
  background-color: #FF6699;
}

.tab div:nth-child(4){
  background-color: #FF6666;
}
// タブの位置把握のため仮に色付け　以上

.tab-box{
  width: 25%;
  text-align: center;
}

.mypage{
  display: flex;
}

.diary-form{
  display: flex;
}

.diary-content{
  display: flex;
}