/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    color: #2A5772;
}

.btn{
  width:100px;
  background-color:#4790BB;
  color:white;
}

// homes/top.html.erb
.jumbotron{
  background-color:#B0D7D5;
  margin-bottom:0;
}

.jumbotron h1{
  font-size: 100px;
}

.jumbotron p{
  line-height: 1.5;
}

.top-text{
  display:flex;
}

.top-text-box{
  margin:30px;
  color: white;
  font-family: 'Amatic SC', cursive;
  display: flex;
  align-items: center;
}

.site-introduction{
  display:flex;
  padding: 20px;
  background-color:#2A5772;
}

.introduction-text{
  width:400px;
  margin: 40px;
  color: white;
}

.introduction-text p {
  margin: 20px 0;
}

.swiper-container{
   width: 1000px;
   height: 360px;
}

// layouts/_header.html.erb
header{
  width: 100%;
  height: 100px;
  background-color: #4790BB;
  color: white;
  display:flex;
  justify-content: center;
}

header a{
  color: white;
}

header h4{
  margin: 20px;
  width: 500px;
}

header h4 strong {
  font-size: 25px;
}

.logo{
  margin: auto;
}

.logo a{
  width:110px;
  height:60px;
  display: block;
  margin:auto;
}

.top-links{
  display: flex;
  justify-content: flex-end;
  margin: auto 40px;
  width: 500px;
}

.top-links-box{
  margin: 0 10px;
}

//devise/sessions/new.html.erb
.login{
  text-align:center;
}

.input-form{
  display:flex;
  justify-content:center;
}

.field, .field-box{
  margin:10px;
  text-align: left;
}

.field-body{
  margin:8px;
  text-align: left;
}

// users/show.html.erb
#tabs{
  display: flex;
  width: 100%;
  background-color:#B0D7D5;
}

#tab-contents{
  background-color:white;
}

.profile-show{
  display:flex;
}

.profile-element-box, .profile-body-box{
  padding:20px;
}

// タブの位置把握のため仮に色付け　以下
#tabs li:nth-child(1){
  list-style-type: none;
  width: 25%;
  text-align: center;
}

#tabs li:nth-child(2){
  list-style-type: none;
  width: 25%;
  text-align: center;
}

#tabs li:nth-child(3){
  list-style-type: none;
  width: 25%;
  text-align: center;
}

#tabs li:nth-child(4){
  list-style-type: none;
  width: 25%;
  text-align: center;
}
// タブの位置把握のため仮に色付け　以上

#profile{
  display: flex;
}

.diary-form{
  display: flex;
}

.diary-content{
  display: flex;
}

.comment-items{
  display: flex;
}

.skill-form{
  display: flex;
}


