/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  color: #2A5772;
  margin-bottom: 50px;
}

t-top{
  margin-top: 50px;
}

th {
  color: white;
  background: #4790BB;
}

td{
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
// white-space は空白文字の扱いを定義する。nowrapで、改行を半角スペースとして表示し、文字列を 1 行にする。
// overflow は要素からはみ出したコンテンツに指定をする。hiddenで、はみ出し部分を切り、表示しないようにしている。
// text-overflow ははみ出し領域の表示方法を指定する。ellipsisで、はみ出した際に末尾に「…」が付加される。
}

.btn{
  width: 100px;
  background-color:#4790BB;
  color: white;
  border-radius: 0;
}

.btn-width2{
  width: 200px;
}

.back-home {
  text-align: end;
}

.flash-message{
  color: green;
  padding: 20px;
  font-size: 20px;
}

.bottom50{
  margin-bottom: 50px;
}

.left20 {
  padding-left: 20px;
}

// homes/top.html.erb
.jumbotron{
  background-color:#B0D7D5;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.jumbotron h1{
  font-size: 100px;
}

.jumbotron p{
  line-height: 1.5;
}

.top-text{
  display: flex;
}

.top-text-box{
  margin: 30px;
  color: white;
  font-family: 'Amatic SC', cursive;
  display: flex;
  align-items: center;
}

.site-introduction{
  display: flex;
  padding: 20px;
  background-color:#2A5772;
}

.introduction-text{
  width: 400px;
  margin: 40px;
  color: white;
}

.introduction-text p {
  margin: 20px 0;
}

.swiper-container{
  width: 850px;
  height: 360px;
}

// layouts/_header.html.erb
header{
  width: 100%;
  height: 100px;
  background-color: #4790BB;
  color: white;
  display: flex;
  justify-content: center;
}

header a{
  color: white;
}

header h4{
  margin: 20px;
  width: 500px;
}

header h4 strong {
  font-size: 25px;
}

.logo{
  margin: auto;
  position: relative;
  left: 15px;
}

.logo a{
  width: 110px;
  height: 60px;
  display: block;
  margin: auto;
}

.top-links{
  display: flex;
  justify-content: flex-end;
  margin: 0 40px;
  width: 500px;
  position: relative;
  top: 40px;
}

.top-links-box{
  margin: 0 10px;
}

//devise/sessions/new.html.erb
.center{
  text-align: center;
}

.input-form{
  display: flex;
  justify-content: center;
}

.field, .field-box{
  margin: 10px;
  text-align: left;
}

.field-body{
  margin: 8px;
  text-align: left;
}

.field-text{
  margin: 10px;
}

// users/show.html.erb
#tabs{
  display: flex;
  width: 100%;
  background-color:#B0D7D5;
}

#tab-contents{
  background-color: white;
}

// _profile
.profile-show{
  display: flex;
  margin-top: 30px;
}

.profile-element-box, .profile-body-box{
  padding: 20px;
}

.profile-body-box{
  width: 700px;
  word-wrap: break-word;
}

.border1 {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #B0D7D5;
    margin: 0;
    width: 100%;
}

.profile-edit{
  margin-left: 20px;
}

.follow-btn {
  position: relative;
  left: 20px;
}

// _diary

.diary-btn-box {
    margin: 50px auto;
    margin-bottom: 30px;
    width: 100px;
}

.diary-btn {
	display: block;
	position: relative;
	right: 30px;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #4790BB;
}

.diary-comment-form {
	display: block;
	position: relative;
	right: 30px;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #4790BB;
	margin-top: 40px;
	margin-left: 40px;
	margin-bottom: 0;
}

.btn:hover {
	 cursor: pointer;
	 text-decoration: none;
	 color: #fff;
	 background:#2A5772;
}

// diaries/new.html.erb
.field-body-box{
  width: 500px;
  height: 300px;
  word-wrap: break-word;
}

.field-title-box{
  width: 300px;
}

// diaries/show.html.erb

.diary-content, .event-content{
  display: flex;
}

.event-edit-content{
  display: flex;
  justify-content: flex-end;
}

.diary-element, .event-element{
  width: 100px;
}

.diary-body, .event-body{
  width: 700px;
  word-wrap: break-word;
}

.diary-element-box, .diary-body-box, .event-element-box, .event-body-box{
  padding: 20px;
}

.diary-comment-box{
  width: 500px;
  height: 200px;
  word-wrap: break-word;
}

.comment-body{
  white-space: normal;
}

.diary-edit-btn{
  margin: 0 20px;
}

.diary-comment-btn{
  margin-left: 150px;
}

.comment-index{
  margin-top: 40px;
}

// users/_skill.html.erb

.skll-box{
  margin: 20px;
}

.skill-text{
  width: 250px;
  vertical-align: middle; //　上下の中央揃え
  margin-left: 20px;
}

.skill-btn {
  width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #4790BB;
}

// skills/_skills_index.html.erb

.skill-btn-box{
  margin: 50px auto;
  margin-bottom: 30px;
  width: 100px;
  position: relative;
  right: 30px;
}

.skill-update-btn{
  background-color: white;
  border-color: white;
  width: 55px;
}

//  users/_calendar.html.erb

#calendar{
  margin-top: 40px;
}

.fc-day{
  height: 100px;
}

.event-start-date{
  margin: 10px 0;
  position: relative;
  bottom: 5px;
  left: 10px;
}

.event-end-date{
  margin: 10px 0;
  position: relative;
  top: 5px;
  left: 10px;
}

.diary-body-element{
  margin-bottom: 65px;
  margin-top: 13px;
}

.diary-body-content{
  width: 300px;
  height: 75px;
  word-wrap: break-word;
}

// users/index.html.erb

.search-box{
  margin: 20px 0;
  text-align: center;
}

// タブ
#tabs li:nth-child(1){
  list-style-type: none;
  width: 25%;
  text-align: center;
}

#tabs li:nth-child(2){
  list-style-type: none;
  width: 25%;
  text-align: center;
}

#tabs li:nth-child(3){
  list-style-type: none;
  width: 25%;
  text-align: center;
}

#tabs li:nth-child(4){
  list-style-type: none;
  width: 25%;
  text-align: center;
}

#profile{
  display: flex;
}

.comment-items{
  display: flex;
}

.skill-form{
  display: flex;
}

// favorites/_favorite-btn.html.erb

.favorite-btn{
  display:flex;
}

.favorite-count{
  border-color: #4790BB;
  border-style: solid;
  border-width: 1px;
  width: 30px;
  text-align: center;
  border-radius: 10px;
  background-color: #4790BB;
  color: white;
  position: relative;
  left: 5px;
  // いいねをログインユーザーが押している時
}

.favorite-count-none{
  border-color: #4790BB;
  border-style: solid;
  border-width: 1px;
  width: 30px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  color: #4790BB;
  position: relative;
  left: 5px;
  // いいねをログインユーザーが押していない時
}